body {
    background-color: #f2f2f2;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    object-fit: cover;
}

h2,
h2,
h3,
h4,
h5,
h6 {
    width: fit-content;
    position: relative;
    color: #1E202A;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -2px;
        width: 20%;
        border-bottom: 12px solid #007bff77;
    }
}

.page {
    &-enter {
        opacity: 0;

        &-active {
            transition-property: opacity;
            transition-timing-function: ease-in-out;
            transition-duration: 100ms;
        }

        &-to {
            transform: rotate3d(0, 1, 0, 0);
        }
    }


    &-leave {
        opacity: 0;

        &-active {
            transition-property: opacity;
            transition-timing-function: ease-in-out;
            transition-duration: 100ms;
        }

        &-to {
            opacity: 0;
        }
    }
}

.show-only-sm {
    @media screen and (min-width: 576px) {
        display: none !important;
    }
}

p {
    text-align: justify;
}